
.btn{
    text-align: center;
     margin: 10px;
    width: 80px;
    height: 40px;
    transform: translate(400px, 10px);
}
.btn img{
    width: 100%;
    height: 100%;
}
label{
   
}
.c{
    display: inline-block;
    margin: 5px;
    text-align: left;
    color: blueviolet;
    font-size: large;
    transform: translate(300px, 10px);
}